html, body { height: 100%; }
@font-face {
    font-family: 'GrundschriftBold';
    src: url('../media/Grundschrift-Bold.otf');
}


.slider .indicators .indicator-item {
    height: 8px;
    width: 8px;

    background-color: #FFFFFF
  }
.parallax-container
{
  overflow: visible;
}

  .seccion {
      padding-top: 1rem;
      padding-bottom: 1rem;
      height: 100%;
      max-height: 1503px;
  }

  #sponsors img
  {
    border-radius: 100%;

  }
  video#video
  {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('img/home.jpg') no-repeat;
    background-size: cover;
  }
  .logo
  {
    width: 200px;
    transition: width .5s;
  }
/********/

/*PILAAAAAASSS*/


/**********/
  .contenido
  {
    margin-top: 83px;/*causa problemas en moviles y tablets*/
  }
.cabecera
{

  background: transparent;
  box-shadow: none;
}
.parallax-container {
      height: 800px;

    }

    .pequenio
    {
      width: 0;
    }

.division
{
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 2px;
}

#fest2016{background: #EF5350 !important;}
#memorias{background: #AB47BC;}
#sponsors{background: #42A5F5;}
#contacto{background: #26A691;}

body {
  font-family: 'GrundschriftBold';
   font-weight: bold;
   font-style: normal;
   letter-spacing: 1px;
}

.valign-wrapper .valign {
    display: block;
    margin: auto;
}

.davimba
{
  bottom: 2px;
  font-family: monospace;
}


@media only screen and (max-width: 767px) {

.seccion
{
  height: initial;
}
}

.tabs .indicator {

    background-color: #9E9E9E;

}

.tabs .tab a {
    color: #464646;
  }
