html, body { height: 100%; }
@font-face {
    font-family: 'GrundschriftBold';
    src: url('../media/Grundschrift-Bold.otf');
}


.slider .indicators .indicator-item {
    height: 8px;
    width: 8px;

    background-color: #FFFFFF
  }
.parallax-container
{
  overflow: visible;
}

  .seccion {
      padding-top: 1rem;
      padding-bottom: 1rem;

      min-height: 100%;
  }

  .responsive-img
  {
    cursor: pointer;
    transition: 1s all;
  }

  #sponsors img
  {
    border-radius: 100%;

  }
  video#video
  {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('img/home.jpg') no-repeat;
    background-size: cover;
  }
  .logo
  {
opacity: 0;
    width: 240px;
    transition: width .5s;
  }
/********/

/*PILAAAAAASSS*/


/**********/
  .contenido
  {
    margin-top: 83px;/*causa problemas en moviles y tablets*/
  }
.cabecera
{

  background: transparent;
  box-shadow: none;
}
.parallax-container {
      height: 800px;

    }

    .pequenio
    {
      width: 0;
    }

.division
{
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 2px;
}

#fest2016{background: #EF5350 !important;}
#memorias{background: #AB47BC;}
#sponsors{background: #42A5F5;}
#contacto{background: #26A691;}

body {
  font-family: 'GrundschriftBold';
   font-weight: bold;
   font-style: normal;
   letter-spacing: 1px;
}

.valign-wrapper .valign {
    display: block;
    margin: auto;
}

.davimba
{
  bottom: 2px;
  font-family: monospace;
}


@media only screen and (max-width: 767px) {

.seccion
{
  height: initial;
}
}

.tabs .indicator {

    background-color: #9E9E9E;

}

.tabs .tab a {
    color: #464646;
  }
nav ul li:hover {
  background: transparent;
}
  nav ul a.item-menu{

    transition-duration: 0.2s;
}
  nav ul a.item-menu:hover{
    -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.8);
}
.logo2
{
  width: 80px;
  transition: opacity .5s;
}
.invisible
{
  opacity: 0;
}

.social-nav
{
  max-height: 36px;

}
.social-nav .left
{
  margin-left: 20px;
}
.social-nav .left a
{
  height: 30px;
  width: 30px;
  margin-left: 5px;

}
#menu
{
  transition: .7s background;
  -webkit-transition: .7s background;
}
.btn-floating
{
line-height: 51px;
margin-left: 15px;
}
.pasados
{

}
#prueba{


  background-image: url('../img/bn2013.png');
  max-width: 100%;
      height: auto;
 background-position: center;
background-size: cover;
}
.c2015{background-image: url('../img/bn2014.png');}
.f{width: 17px;margin: 7px 9px;}
.y{width: 16px;margin: 8px 12px;}
.t{width: 28px;margin: 2px 5px;}
.g{width: 22px;margin: 0px 9px;}
