html, body { height: 100%; font-family: 'Passero One', 'cursive;', sans-serif;font-weight: 600;}
@font-face {
    font-family: 'GrundschriftBold';*/
    src: url('../media/Grundschrift-Bold.otf');
}
nav,h1,h2,h3,h4,h5
{
  letter-spacing: 1px;

}
.social
{
  position: fixed;
  top: 40%;
  right: 20px;
}
.social li
{
margin-bottom: 15px;
}
.slider .indicators .indicator-item {
    height: 8px;
    width: 8px;

    background-color: #FFFFFF
  }
.parallax-container
{
  overflow: visible;
}

  .seccion {
      padding-top: 1rem;
      padding-bottom: 1rem;

      min-height: 100%;

  }

  .responsive-img
  {
    cursor: pointer;
    transition: .4s opacity ease-in;
  }

  video#video
  {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('img/home.jpg') no-repeat;
    background-size: cover;
  }
  .logo
  {
    width: 316px;
    transition: width .5s;
  }
/********/

/*PILAAAAAASSS*/


/**********/
  .contenido
  {
    margin-top: 83px;/*causa problemas en moviles y tablets*/
  }
.cabecera
{

  background: transparent;
  box-shadow: none;
}
.parallax-container {
      height: 800px;

    }

    .pequenio
    {
      width: 0;
    }

.division
{
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 2px;
}

#fest2016{background: #ffb74d ;background-image: url('../img/trama-sancocho.png') ;}
#memorias{background: #4fc3f7;background-image: url('../img/trama-sancocho.png') ;}
#sponsors{background: #42A5F5;background-image: url('../img/trama-sancocho.png') ;}
#contacto{color:#761714 !important;background: #ffb600;background-image: url('../img/trama-sancocho.png') ;}


.valign-wrapper .valign {
    display: block;
    margin: auto;
}


@media only screen and (max-width: 767px) {

.seccion
{
  height: initial;
}
}


nav ul li:hover {
  background: transparent;
}
  nav ul a.item-menu{

    transition-duration: 0.2s;
}
  nav ul a.item-menu:hover{
    -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.8);
}
.logo2
{
  width: 80px;
  transition: opacity .5s;
}
.invisible
{
  opacity: 0;
  display: none;
}

.social-nav
{
  max-height: 36px;

}
.social-nav .left
{
  margin-left: 20px;
}
.social-nav .left a
{
  height: 30px;
  width: 30px;
  margin-left: 5px;

}
#menu
{
  transition: .7s background;
  -webkit-transition: .7s background;
}
.btn-floating
{
line-height: 51px;
margin-left: 15px;
}


.c2015{background-image: url('../img/bn2014.png');}
.f{width: 17px;margin: 7px 9px;}
.y{width: 16px;margin: 8px 12px;}
.t{width: 28px;margin: 2px 5px;}
.g{width: 22px;margin: 0px 9px;}

.bf{background-color: #3b5998;}
.bg{background-color: #dd4b39}
.bt{background-color: #00aced;}

.container-poster
{
position: relative;
overflow: hidden;
transition: 1.7s !important;
}
.enlace{color:black;opacity:0;left:0;top:0;}
 .color{
   opacity: 0;
    position: absolute;
    left:0px;
     top: 0px;
     z-index: 2;
     transition: 1.7s ease-in-out;
    /* transition:opacity .5s;*/

  }

.bn
{
    position: relative;
    z-index: 1;
}
.container-poster:hover .color {
opacity: 1;
transform:scale(1.2);
}
.container-poster:hover .color {

opacity: 1;
}


.aviso
{
  font-size: 6.5rem;
  color: white;
  margin: 0 50px;

}
#aviso2
{
  color:#eeffaa;
}
nav ul a.item-menu {
font-weight: 400;
font-size: 18px;
}
a[href="#home"]{background-color:#8bc34a;}
a[href="#fest2016"]{background-color:#ff5252;}
a[href="#memorias"]{background-color:#ff9955;}
a[href="#sponsors"]{background-color:#ffcc00;}
a[href="#contacto"]{background-color:#00aa88;}

.enlaces-trans ul li a
{
  background: transparent !important;
  line-height: 64px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {


padding-left: 15px;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {

}

input[type=text].invalid,
input[type=text]:focus.invalid,
input[type=password].invalid,
input[type=password]:focus.invalid,
input[type=email].invalid, input[type=email]:focus.invalid,
textarea.materialize-textarea:focus.invalid {

}


#enviar-formulario
{

}

@media only screen and (min-width: 601px){
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 64px;
    line-height: 33px;
}
}

.header
{
  border-bottom: 3px white solid;
}

.header.n
{
  border-bottom: 3px #333 solid;
}

@media only screen and (min-width: 993px){
.container {
     width: 85%;
}
}

#telefono
{
  background-image: url('../img/telefono.png');
  background-repeat: no-repeat;

  background-position: center;

}

.logos-fijos
{
  position: fixed;
  transform:scale(0.5);
  z-index: 999;
}

.logos-social
{
  position: fixed;
  left: 45%;
  bottom:0;
    display: inline-flex;
      z-index: 999;
}
.logo-iz
{
left: -35px;
    bottom: -61px;
}
.logo-de
{

  right: -35px;
  bottom: -61px;

}

.logos-social img
{
  width: 40px;

}
